body {
  padding-top: 1rem;
  padding-left: 2rem;
}
.container {
width: 800px;
}
.searchbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
td.M {
  background-color: #8fd19e;
  text-align: center;
}
td.S {
  background-color: #f1a899;
  text-align: center;
}